<!DOCTYPE html>
<html>
<head>
<title>Proyecto de Desarrollo del Software</title>

<%= javascript_include_tag "jQuery.js" %>
<%= javascript_include_tag "AnalyticsCarousel.js" %>
<%= stylesheet_link_tag "style.css" %>

<%= stylesheet_link_tag "templatemo_style.css" %>
<%= stylesheet_link_tag "slimbox2.css" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.scrollTo-min.js" %>
<%= javascript_include_tag "jquery.localscroll-min.js" %>
<%= javascript_include_tag "init.js" %>
<%= javascript_include_tag "slimbox2.js" %>


</head>

<body> 
<div id="container">
  <div id="templatemo_header"> 
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">   
      <a class="navbar-brand" href="/sessions/entrar">mediabox</a>
    </div>
<% if current_user %>
    <ul class="nav navbar-nav">
      <li><a href="/sessions/entrar">Home</a></li>
      <li class="active"><a href="/sessions/perfil_usuario">Profile</a></li>
      <li><a href="/sessions/amigos_usuario">Friends</a></li>
      <li><a href="/sessions/notificador">News feed</a></li>
    </ul>
<%end%> 
    <div id="search">
      <%= form_tag('/buscaramigo/privadoauxiliar', method: 'get') do %>
   
         <%= text_field_tag(:email, "Search for people") %>
      <button type="submit" >Go!</button>
    <%end%>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a>Welcome <strong><%= current_user.name %></strong>!</a></li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          <% else %>
            <li><div class="eg"><img><a href="/auth/google_oauth2"><%= image_tag "google.png"%></a></img></div></li>
            <li><a href="/auth/google_oauth2">Login</a></li>
          <% end%>
      </ul>
     </div>
   </nav>
  </div>
</div>

<!-- Este es el viejo 

<div id="general">
  <div id= "panel">
    <div class="panel2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_user.name %></h3>
        </div>
        <div class="panel-body">
          <p>&nbsp;</p>
          <p> &nbsp;</p>
          <p> &nbsp;</p>
          <p> &nbsp;</p>
          <a><img><%= image_tag current_user.image %></a></img>
          <div class="list-group">
            <a href= "/sessions/perfil_modificar" class="list-group-item">About</a>
            <a href= "/sessions/albums_usuario" class="list-group-item active">Albums</a>
            <a href= "/sessions/amigos_usuario" class="list-group-item">Friends</a>
            <a href= "#"  class="list-group-item">Private Settings</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
<!--nuevo con comentario -->
  <div id="general">
  <div id= "panel">
    <div class="panel2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>

      </div> <!-- la division rara -->


    </div>
  </div>

<!-- - - - - - - - - - -->

  <div id="account">

    <% multimedia = Multimedia.new() %>
    <% if current_user.id ==  multimedia.usuarioQuePertenece(@multimedia.id) %>
<!-- Panel box de agregar, volver y eso -->
    <div class="panel_box1">
      <a href="/manejoalbum/desactivarMultimedia/<%= @multimedia.id %>">
        <%= image_tag "black/delete.png"%>
      </a>
    </div>
    <div class="panel_box2">
      <a href="/sessions/ver_album/<%= @idAlbum %>">
      <%= image_tag "black/back.png"%>
      </a>
   </div>
<!-- -->
    <%else%>
    <div class="panel_box1">
      <a href="/sessions/ver_album/<%= @idAlbum %>">
      <%= image_tag "black/back.png"%>
      </a>
    </div>
    <%end%>
       
 <!-- -->      
    <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading"><%= @multimedia.tipo %></div>
  
     </div>
      <%= image_tag @multimedia.nombre %>
    </div>

</div>

<div id="templatemo_footer">
  Copyright © 2013 <a href="../sessions/entrar">mediabox</a> | Designed by <a href="http://www.ucab.edu.ve">UCAB Style</a>
</div>


</body>
</html>