<!DOCTYPE html>
<html>
<head>

<meta  charset="utf-8" />
<title>Proyecto de Desarrollo del Software</title>

<%= stylesheet_link_tag "templatemo_style.css" %>
<%= stylesheet_link_tag "slimbox2.css" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.scrollTo-min.js" %>
<%= javascript_include_tag "jquery.localscroll-min.js" %>
<%= javascript_include_tag "init.js" %>
<%= javascript_include_tag "slimbox2.js" %>
</head> 

<body> 
<div id="container">
  <div id="templatemo_header"> 
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">   
      <a class="navbar-brand" href="/sessions/entrar">mediabox</a>
    </div>
<% if current_user %>
    <ul class="nav navbar-nav">
      <li><a href="/sessions/home">Home</a></li>
      <li class="active"><a href="/sessions/perfil_usuario">Profile</a></li>
      <li><a href="/sessions/amigos_usuario">Friends</a></li>
      <li><a href="/sessions/notificador">News feed</a></li>
    </ul>
<%end%> 
    <div id="search">
      <%= form_tag('/buscaramigo/privadoauxiliar', method: 'get') do %>
      <%= text_field_tag(:email, "Search for people", style: 'height: 1.9em; width: 15em;') %>
      <button type="submit" class="btn btn-default btn-xs" >Go!</button>
    <%end%>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a>Welcome <strong><%= current_user.name %></strong>!</a></li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          <% else %>
            <li><div class="eg"><img><a href="/auth/google_oauth2"><%= image_tag "google.png"%></a></img></div></li>
            <li><a href="/auth/google_oauth2">Login</a></li>
          <% end%>
      </ul>
     </div>
   </nav>

</div>

<div id="templatemo_main" class="pos">
  <div id="content"> 
    <div id="home" class="section">
    <% numeroElemento = @siguientePagina %>
    <%if !(numeroElemento); numeroElemento=0; end;%>
    <%c=0%>
    <% for i in numeroElemento.to_i..100 %> 
    <%c=c+1%>
    <%if c==13; break; end%>
      <% if @listaFotos[i] %>
      <div class="box home_box1">
        <a class="imagen_tamano"><%= image_tag @listaFotos[i].images.low_resolution.url, :size => "250x250"%> </a>
        <a href="/instagram/verFoto/<%=i%>" class="addFoto"> <%= image_tag "white/add.png" %> </a>
      </div>
      <%end%>
    <%end%>    
    </div>
  </div>
 
</div>

 <div id="next">
   
  <div class="backleft">
  <%if !((i-12)==0) %>
    <a href="javascript:history.back()"><%= image_tag "white/back.png"%> </a>
  <%end%>
  <%if @listaFotos[i+1] %>
    <a href="/instagram/mostrarFotos/<%=i%>"><%= image_tag "white/next.png"%> </a>
  <%end%>  
  </div>
</div>

<div id="templatemo_footer">
Copyright © 2013 <a href="../sessions/entrar">mediabox</a> | Designed by <a href="http://www.ucab.edu.ve">UCAB Style</a>
</div>

</body> 

</html>