<!DOCTYPE html>
<html>
<head>
<title>Proyecto de Desarrollo del Software</title>

<%= javascript_include_tag "AnalyticsCarousel.js" %>
<%= javascript_include_tag "jQuery.js" %>

<%= stylesheet_link_tag "style.css" %>

<%= stylesheet_link_tag "templatemo_style.css" %>
<%= stylesheet_link_tag "slimbox2.css" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.scrollTo-min.js" %>
<%= javascript_include_tag "jquery.localscroll-min.js" %>
<%= javascript_include_tag "init.js" %>
<%= javascript_include_tag "slimbox2.js" %>

<%= javascript_include_tag "modernizr.custom.17475.js" %>

<%= stylesheet_link_tag "elastislide.css" %>



</head>

<body> 
<div id="container">
  <div id="templatemo_header"> 
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">   
      <a class="navbar-brand" href="/sessions/entrar">mediabox</a>
    </div>
<% if current_user %>
    <ul class="nav navbar-nav">
      <li><a href="/sessions/home">Home</a></li>
      <li class="active"><a href="/sessions/perfil_usuario">Profile</a></li>
      <li><a href="/sessions/amigos_usuario">Friends</a></li>
      <li><a href="/sessions/notificador">News feed</a></li>
    </ul>
<%end%> 
    <div id="search">
      <%= form_tag('/buscaramigo/privadoauxiliar', method: 'get') do %>
      <%= text_field_tag(:email, "Search for people", style: 'height: 1.9em; width: 15em;') %>
      <button type="submit" class="btn btn-default btn-xs" >Go!</button>
    <%end%>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a>Welcome <strong><%= current_user.name %></strong>!</a></li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          <% else %>
            <li><div class="eg"><img><a href="/auth/google_oauth2"><%= image_tag "google.png"%></a></img></div></li>
            <li><a href="/auth/google_oauth2">Login</a></li>
          <% end%>
      </ul>
     </div>
   </nav>
  </div>
</div>



<div id="mayor">
  <div id="panelCarrousel" class="pos">
    <div id="showHomeAlbum">
      <div id="">
          <a href="javascript:history.back()"><%= image_tag "black/back.png", :size => "32x32"%></a>
          <div class="panel_box1">
          <a href="#"><%= image_tag "black/add.png"%></a>
          </div>

          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= @idSoundcloud %>&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>

        

      </div> 
    </div>  
  </div> 
</div>
   

<div id="templatemo_footer">
  Copyright © 2013 <a href="../sessions/entrar">mediabox</a> | Designed by <a href="http://www.ucab.edu.ve">UCAB Style</a>
</div>


</body>
</html>