body
{ 
	background-color: #0066FF;
	color: #ddd;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	width: 1366px;
}

a, a:link, a:visited { color: #9CF; font-weight: normal; text-decoration: none }
a:hover { color: #FF6; text-decoration: none; }

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 58px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 34px; margin: 0 0 30px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { padding: 0; margin: 0 0 15px 0 }

.clear{
	clear:left;
}

cite { font-weight: bold; color:#fff; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #ccc; }


.list_bullet { margin: 0 0 10px 15px; padding: 0; list-style: none }
.list_bullet li { color:#fff; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_list.png) no-repeat scroll 0 6px  }
.list_bullet li a { color: #fff; font-weight: normal; text-decoration: none }
.list_bullet li a:hover { color: #fff }

.no_bullet { margin: 0; padding: 0; list-style: none }
.no_bullet li { margin: 0 0 20px 0; padding: 0 }
a.header { display: block; font-weight: 700 }

.half { width: 370px }

.h20 { height: 20px }
.h40 { height: 40px }

img { margin: 0; padding: 0; border: none }
.img_border { background: #fff; padding: 4px; border: 1px solid #ccc }
.img_nom { display: inline-block; margin-bottom: 15px }
.img_fl { float: left; margin: 3px 15px 5px 0 }
.img_fr { float: right; margin: 3px 0 5px 15px }

.left { float: left }
.right { float: right }

#container
{
	position: relative;
	height: 80px;
	top: 0;
}


#templatemo_header {
}

#templatemo_main {
	width: 640px;
	height: 487px;
	overflow: hidden;
	margin: 0 auto;
}

#templatemo_footer {
	width: 640px;
	margin: 0 auto;
	padding: 3px 0;
	text-align: center;
}

#templatemo_left {
	padding-left:50%;
}

#templatemo_right {
	padding-right:50%;
}

#site_title { display: block }
#site_title a { color: #fff; font-weight: 700; letter-spacing: 10px; line-height: 30px }

#content{
	overflow:hidden;
	width: 640px;
	position:relative;
	height: 487px;
}


.section {
	position:relative;
	float:left;
	width: 800px;
	height: 487px;
	margin-right: 20px;
}

.section a.slider_nav_btn { position: absolute; top: 0; width: 50px; height: 46px; display: block; background-image: url(images/slider_nav_btn.jpg);  text-indent: -10000px }
.section a.home_btn { right: 50px; background-position: 102px 0 }
.section a.previous_btn { right: 100px; background-position: 0 0 }
.section a.next_btn { right: 0px; background-position: 50px 0 }

.box { float: left; margin: 0 10px 10px 0 }
#home_about { width: 314px; height: 314px  }

#home_perfil { 
	float: left;
    width: 152px;
    height: 152px; 
    position:relative;
}

#home_gallery { width: 476px; height: 314px }
.home_box1 { width: 152px; height: 152px }
.home_box2 { width: 314px; height: 152px }
.color1 { background: #C0392B }
.color2 { background: #34495E  }
.color3 { background: #77CC00 }
.color4 { background: #00D8CC }
.color5 { background: #7200AC }
.color6 { background: #00C13F }
.color7 { background: #E1B700 }
.color8 { background: #E064B7 }
.color9 { background: #FFFFFF }

#home_gallery a { display: block; float: left; width: 152px; height: 152px; margin: 0 10px 10px 0 }
#home_gallery a.no_mr { margin-right: 0 }

#social_links {
	text-align: center;
	padding: 40px 0 0 0
}
#social_links a {
	display: block;
	float: left;
	width: 48px;
	height: 48px;
	margin-left: 12px
}

#youtube {
	text-align: center;
	padding: 40px 0 0 0
}
#youtube img{
	position: relative;
	top: -1.8em;
	height: 80%;
    width: 70%;
}

#soundcloud img{
	position: relative;
	top: -0.5em;
	left: 4em;
	height: 80%;
    width: 70%;
}

#instagram img{
	position: relative;
	top: 1em;
	left: 2.5em;
	height: 90%;
    width: 80%;
}



#gallery {

}

#gallery li {
	width: auto;
	height: auto;
	float: left;
	width: 152px;
	height: 245px;
	background: none;
	margin: 0 10px 10px 0;
}
#gallery li a {
	display: block;
}
#gallery li a img  { }

#gallery li.no_margin_right { margin-right: 0 }

#contact_form { padding: 0; width: 330px }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { width: 150px; padding: 5px; color: #CCC; border: 1px solid #666;  background: #222; margin-bottom: 10px; }

#contact_form form label { display: block;font-size: 11px }

#contact_form form textarea { 
	clear: both; 
	width: 320px; height: 120px; 
	padding: 5px; 
	color: #CCC;
	border: 1px solid #666; 
	font-family: Arial, Helvetica, sans-serif; 
	background: #222; 
	margin-bottom: 10px;
}

#contact_form form .submit_btn { font-size: 12px; background: #333; color: #CCC; cursor:pointer; border: 1px solid #666; padding: 5px 10px; }

.no_mr { margin-right: 0 }

#panel_container
{
	height: 15em;
	background: #FFFFFF;
	position: absolute;
}


#box3
{
	position: relative;
	top: 0;
	left: 30%;
    width: 25em;
	background-color: #333;
} 

#panel 
{
  background-color: #FFFFFF    ;
  position: relative;
  top: 0px;
  left: 200px;
  width: 200px; 
  height: 450px; 
}

.panel-title
{
	color: #0066FF;
	font-weight: bold;
}

.panel a img 
{
	position: absolute;
	top: 45px;
	left: 5%;
	height: 145px;
    width: 180px;

}

.list-group
{
	color: #0066FF;
	position: absolute;
	top: 210px; 
	width: 180px;
	left: 5%;
}

.list-group a
{
	color: #0066FF;
}

#general
{
	position: relative;
	top:0;
	height: 500px;

}

#edit
{	
	position: relative;
	top: 30.5em;
	left: 25em;
	margin: 0 auto;
	padding: 20px 0;
}

#account
{
  position: absolute;
  top: 0;
  left: 31%;
  background-color: #FFFFFF;
  width: 800px; 
  height: 450px; 
}

.accountTableCA
{
	position: absolute;
	width:96%;
	top: -1em;
	left: 15px;
}

.panel-heading
{
	color: #FF0000;
	font-weight: bold;
}
.accountTable a 
{
	color: #0066FF;
}
.accountTable 
{
	position: absolute;
	width:96%;
	top: 5em;
	left: 15px;
}.accountTable table{
	width:86%;
	height:100%;
	color: #484848  ;
}.accountTable td:first-child{
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 0px;
	font-weight: bold;
	color: #484848  ;
}.accountTable tr, td {
  padding: 0.6em; 
}
.accountTable tr:nth-child(odd)    { background-color:#F8F8F8  ; }
.accountTable tr:nth-child(even)   { background-color:#ffffff; }


.app
{
	position: absolute;
	left: 22px; 
	bottom: 3em;
	color: #484848;

}.app img { width: 50px }


.pagination
{
	position: absolute;
	left: 35%; 
	top: 401px;
}
.pagination a {color: #0066FF; font-weight: bold;}

#box
{
	position: absolute;
	top: 25%;
	left: 30%;
	height: 25em;
    width: 25em;
	background-color: #FFFFFF;
} #box h3,h4 { color: #0066FF }


.eg img 
{
	position: absolute;
	top: -4px;
	left: -70px;
	height: 55px;
    width: 60px;
    background-color: #202020 ;
}

.navbar 
{ 	
	overflow: hidden;
	width: 100%;
	height: 4.2em;
}

#basic h3{
	position: relative;
	top: 10px;
	left: 14px;
	height: 24%;
	width: 90%;
}
#basic p 
{
	position: relative;
	top: -4px;
	font-size: 13px;
	left: 19px;
	height: 80%;
	width: 90%;
	color: #F8F8F8   ;
}

#basic_number p
{
	position: relative;
	top: -5px;
	font-size: 40px;
	left: 25%;
	height: 20%;
	width: 20%;
	font-weight: bold;
	color: #ffffff  ;
}

#basic img 
{
	position: relative;
	left: 35%;
}

.imagen_tamano img  
{
	height: 152px;
	width: 152px;
}

#basic_down
{
	position: relative;
	top: -8.5em;
	left: 46%;
}

#basic_down2
{
	position: relative;
	top: -2.5em;
	left: 27%;
}

.breadcrumb
{
	background-color: #0066FF ;
}

.panel_box1 img
{
	position: absolute;
	right: 5px;
	top:3px;
	width: 31px;  
}

.panel_box2 img
{
	position: absolute;
	right: 50px;
	top:3px;
	width: 31px;  
}
.panel_box3 img
{
	position: absolute;
	right: 100px;
	top:3px;
	width: 31px;  
}
.panel_box4 img
{
	position:absolute;
	right: 150px;
	top:3px;
	width: 31px;
}
.panel_box5 img
{
	position:absolute;
	right: 200px;
	top:3px;
	width: 31px;
}

#cuadro_up{position: relative; top: 2em; left: 3em;}
.cuadro1{position: absolute; top: 0; left: 0;}
.cuadro2{position: absolute; top: 0; left: 15em;}
.cuadro3{position: absolute; top: 0; left: 30em;}
.cuadro4{position: absolute; top: 0; left: 45em;}

#cuadro_down{position: relative; top: 17em; left: 3em;}

#cuadro_car{position: relative; top: 37em; left: 3em; bottom: 40em;}

#search
{
	position: absolute;
	top: 1.2em;
	left: 35em;	
}

#amigofoto
{
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	height: 152px;
}

#eliminarAmigo
{
	background-color: #E064B7;
	position: absolute;
	top: 27em;
	left: 0;
	width: 153px;
	height: 153px;
	color: #000000;
}

#next{
	position:relative;
	width: 640px;
	height: 48px;
	overflow: hidden;
	margin: 0 auto;
	left: 0em;
	top: 0em;
}
.backleft{
	position:relative;
	top: 0em;
}

.agregarFoto{
	position:relative;
	top: 4em;
	left: 90em;
	background-color: #E064B7;
	width: 200px;
	height: 250px;
}

.addFoto{
	position:relative;
	top: -12.5em;
	right: -8.9em;
}

.addFoto img{
	width: 20px;
	height: 20px;
}

.addIcon{
	position:relative;
	top: -12.7em;
	right: 0em;
}

.addIcon img{
	width: 20px;
	height: 20px;
}

#basic select {
	position: relative;
	left: 3em;
} 

#panelCentral {
	position: relative;
	width: 60em;
	left: 27em;
	top: 0em;
	background-color: #FFFFFF ;
}

#panelIzq{
	position: relative;
	left: -7.5em;
	width: 20em;
}
#mayor{
	top: 10em;
	height: 40em;
	width: 90em;
}
#showHomeAlbum {
	position: relative;
	top: 0em;
	padding: 0.5em;
}
#comments {
	background-color: #DCDCDC ;
	border: 1.5px double #E8E8E8 ;
	padding: 0.15em;
	display: block;
}
.second {
	background-color: #0066CC;
	border: 0.1em solid #B8B8B8;
	margin: 0.15em;
	padding: 0.25em;
	height: 3.8em;
	top: 1em;

}

.send {
	margin: 0.1em;
	padding: 0.1em;
}

#homeFotos{
	position: relative;
	top: 1em;
	left: 0.3em;
	height: 14em;
}
#carFotos{
	position: relative;
	top: 1em;
	left: 0.3em;
	height: 16em;
}

#basic1 img {
	position: relative;
}

#panelCarrousel {
	position: relative;
	width: 68em;
	left: 20em;
	top: 0em;
	background-color: #FFFFFF ;
}